/* Footer */
.footer-section {
  width:100%;
  position: relative;
  height:auto;
  background: transparent;
  
  color:$white-text;
}
  
.closing {
 font-size: 16px;
 font-family: $font-stack;
 height: auto;
  
}

.contact-col {
    width: 100%;
    height: auto;
  }

.f2 {
 padding:50px 20px; 
 width:100%; 
 height: auto;
 background-color: #fff;

}

.f2-container-logo { 
 width: 100%;
 height: auto;

 	img {
 	  height: auto;
      float: left;
      margin:0  50px;


 	}
 
}

.f2-menu {
    text-align: right;
    color: #666666;
    font-size: 13px;
    position: relative;
    margin-top: 5px;
    font-family: $font-stack;
    font-weight: 700;
    line-height: 0;
}

.f2-menu p strong {
  font-size:14px; 
}

.f2-menu p {
  font-size:12px; 
}

.ff3 {
	background-color: #dadada;
	width: 100%;
	height: auto;
}

.fmenu {
	width: 100%;

	li {
		display: inline-block;
		margin:10px 10px;
	}
}

.copyright {
  font-size:14px;
  margin:10px 0; 
}

@media screen and (max-width: 1200px){
  #col-contact {
    width: 50%;
    height:auto;
   

    p {
       text-align: center;
       font-size: 20px 
      }
    p span {
      text-align: center;
      font-size: 18px;
    }
    
  }
}

@media screen and (max-width: 764px){
  #col-contact {
    width: 25%;
    height:auto;
    text-align: center;
    
  }

  p {
       text-align: center;
       font-size: 20px 
      }
    p span {
      text-align: center;
      font-size: 18px;
    }
}


@media screen and (max-width: 540px){
  .f2-container-logo img {
    height: auto;
    float: none;
    margin: 0 auto;
  }

  .rounded-circle {
    display:block;
    float:none !important;
    margin:10px auto; 
  }

  .copyright {
    font-size:12px;
  }
}