$font-stack:    open-sans, sans-serif;
$default-color: #666666;
$white-text: #fff;





a,
a:focus,
a:hover {
  color: #D51130;
  text-decoration: none;
}

html,
body {
  min-height: 100%;
}

body {
	font-family:$font-stack;
	color: $default-color;
	font-size:14px !important;
}

.overall-container {
  width:100%;
  height:auto;  
}


.articles-title-cont {
  width:100%;
  height:50px;
  line-height:20px;   
}

.article-date {
  float:left;
  display:block;  
  width:auto; 
  color:$white-text;
  display:inline-block;
  padding:0px 0; 

  div:first-child {
    float:left; 
    width:40%;
    height:40px;
    line-height:40px;  
    font-size:26px;
    padding:0 10px;
    margin:5px 0;
    font-weight:bold;    
  }

  div:last-child {
    float:left;
    width:60%;
    height:40px;
    font-size: 12px;
    padding:0 10px;
    margin:5px 0;  
  }

}

.a-title {
  display:block;
  float:left; 
  height:50px;
  line-height:20px;
  width:70%;    
  font-size: 14px;
  font-weight: bold; 

}

.body-section {
  width:100%;
  box-sizing: border-box;
  position: relative;
  background: $white-text; 
}



.col .welcome {
  font-family: $font-stack;
  font-size: 30px;

}



.col-title {
  margin-top: 10px;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: bold;

}



.col-subtext {
  margin-top: 10px;
  font-family: $font-stack;
  font-size: 14px;
  text-align: justify;
  line-height: 21px;
  font-weight: 300;

}


.cont-svs {
  margin-top: 100px;
  font-family: $font-stack;
  font-size: 30px;
  text-align: justify;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.col-services {
    width: 100%;
    background-color: #f2f2f2;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 100px;

}

.tt-cont {
    width:100%;
    box-sizing:border-box; 
    background-color: #fff;
    height: 220px;
    padding:10px;
    padding-bottom: 0px;

    p {
      font-size:14px; 
    }
}


.col-partner {
    z-index: 256;
    min-height: 332px;
    border-width: 0px;
    border-color: transparent;
    background-color: #F2F2F2;
    padding-bottom: 118px;
    padding-top: 118px;

}

.cont-partner {
    width:100%;
    box-sizing:border-box; 
    background-color: #fff;
    height: auto;



}

.partner {
  box-sizing:border-box;
    width: 100%;
    padding:40px 20px;

  li {
    display:inline-block;
    text-decoration: none;
    padding:20px 10px;
    margin-top: 0 !important;
    margin-right:0 !important;
  }
}

.qcont {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  p {
    font-size: 16px;
    line-height: 24px;
    font-family: $font-stack;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    
  }
}

@media screen and (max-width: 1150px){
  #closing {
    width: 100%;
    height: auto;
    }

  #f2 {
    width: 100%;
  }

  #ffe {
    width: 100%;
  }

}




@import "partials/menu", "partials/footer", "partials/slider" , "partials/it";


