$font-stack:    open-sans, sans-serif;
$default-color: #666666;
$white-text: #fff;




a,
a:focus,
a:hover {
  color: $white-text;
}

html,
body {
  min-height: 100%;
}

body {
	font-family:$font-stack;
	color: $default-color;
	font-size:14px !important;
}

.overall-container {
  width:100%;
  height:auto;  
}


.articles-title-cont {
  width:100%;
  height:30px;  
}

.article-date {
  height:30px;
  line-height:30px; 
  color:$white-text;
  display:inline-block;
  padding:0 10px;  
}

.body-section {
  width:100%;
  box-sizing: border-box;
  position: relative;
  background: $white-text; 
}

.main-navmenu .inner {
  height: 75vh;
  line-height: 60px;
  padding: 0 10px;
  background: transparent; }

.cont-support {
  height: 60px;
  background:#D51130;
  padding-bottom: 58px;
  position: relative;
  color: #fff;
}

.main-navmenu .nav-brand {
  height: 60px;
  line-height: 60px;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.main-navmenu .nav-menu-cont {
  float: right;
  height: 60px; }
  .main-navmenu .nav-menu-cont .nav-link {
    height: 75px;
    margin-left: 1rem;
    padding: 0 10px !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: $font-stack;
    color: $default-color;
     }

  .main-navmenu .nav-menu-cont .active {
    height: 60px;
    color: red;
    border-bottom-color: #fff;
    padding: 0 10px; }

.main-navmenu .nav-brand {
  height: 60px;
  line-height: 60px;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.main-navmenu .nav-menu-cont .nav-support {
    height: 75px;
    margin-left: 1rem;
    padding: 0 10px !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: $font-stack;
    color: #fff;
     }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a:hover {background-color: #D51130;}
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    position: relative;
}

.dropdown-content a:hover {background-color: #D51130;}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .nav-link {
    font-color: #D51130;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.navlink {
  padding: 2px 16px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  height: 75px;
  margin-left: 1rem;
  text-transform: uppercase;
  font-family: $font-stack;
  color: #BDBDBC;

}

.slider-container .logobg-cont {
  z-index: 16;
  display: block;
  margin-top: 100px;

}

.slider-container .logobg-cont .logo2 {
  border: 0px;
    border-style: solid;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
        display: block;
    vertical-align: top;
    margin-left: 500px;

}

.col .welcome {
  font-family: $font-stack;
  font-size: 30px;

}

.col-st {
  font-family: $font-stack;
  font-size: 14px;
  margin-left: 150px;
  margin-right:150px;

}

.col-title {
  margin-top: 10px;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: bold;

}

.col-subtext {
  margin-top: 10px;
  font-family: $font-stack;
  font-size: 14px;
  text-align: justify;
  line-height: 21px;
  font-weight: 300;

}


.cont-svs {
  margin-top: 100px;
  font-family: $font-stack;
  font-size: 30px;
  text-align: justify;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.col-services {
    width: 100%;
    background-color: #f2f2f2;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 100px;

}

.svs-thumb1 {
    z-index: 291;
    width: 260px;
    margin-left: 100px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
    padding-bottom: 14px;
    position: relative;
    margin-right: -10000px


}

.svs-thumb2 {
    z-index: 291;
    width: 260px;
    margin-left: 50px;
    margin-right: 50px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
    padding-bottom: 14px;
    position: relative;
}
.svs-thumb3 {
    z-index: 291;
    width: 260px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
    padding-bottom: 14px;
    position: relative;

}

.svs-thumb4 {
    z-index: 291;
    width: 260px;
    margin-left: -50px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(40%, rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
    padding-bottom: 14px;
    position: relative;

}

.tt-cont {
    z-index: 291;
    width: 260px;
    margin-left: 100px;
    padding: 10px 10px;
    text-align: justify;
    background-color: #fff;
    font-size: 12px;
    height: 200px;
    padding-bottom: 0px;
}

.tt-cont1 {
    z-index: 291;
    width: 260px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 10px;
    text-align: justify;
    background-color: #fff;
    font-size: 12px;
    height: 200px;
}

.tt-cont2 {
    z-index: 291;
    width: 260px;
    padding: 10px 10px;
    text-align: justify;
    background-color: #fff;
    font-size: 12px;
    height: 200px;
}

.tt-cont3 {
    z-index: 291;
    width: 260px;
    margin-left: -50px;
    padding: 10px 10px;
    text-align: justify;
    background-color: #fff;
    font-size: 12px;
    height: 200px;
}


@import "partials/menu", "partials/footer", "partials/slider";